{% block subject %}{% if was_reset %}Your password was reset{% else %}Your password was changed{% endif %}{% endblock %}

{% block text_body %}
Hello {{ full_name|default:email }},

The password for your account was just {% if was_reset %}reset using a link sent to this email address{% else %}changed{% endif %}.

Date: {{ changed_at }}
IP Address: {{ ip_address|default:"unknown" }}

For your security, you have been signed out on {% if was_reset %}all your devices{% else %}your other devices{% endif %}.

{% if was_reset %}If you didn't reset your password, someone may have access to your email. Secure your email account, then reset your password again:{% else %}If you didn't change your password, reset it right away:{% endif %}
{{ reset_link }}
{% endblock %}

{% block html_body %}
{% if was_reset %}
{% include 'emails/partials/header.html' with title="Your password was reset" intro_text="Security update" email_tag="Security" %}
{% else %}
{% include 'emails/partials/header.html' with title="Your password was changed" intro_text="Security update" email_tag="Security" %}
{% endif %}
<p>Hello {{ full_name|default:email }},</p>
<p>The password for your account was just {% if was_reset %}reset using a link sent to this email address{% else %}changed{% endif %}.</p>
<ul>
  <li><strong>Date:</strong> {{ changed_at }}</li>
  <li><strong>IP Address:</strong> {{ ip_address|default:"unknown" }}</li>
</ul>
<p>For your security, you have been signed out on {% if was_reset %}all your devices{% else %}your other devices{% endif %}.</p>
{% if was_reset %}
<p>If you didn't reset your password, someone may have access to your email. Secure your email account, then <a href="{{ reset_link }}">reset your password again</a>.</p>
{% else %}
<p>If you didn't change your password, <a href="{{ reset_link }}">reset it right away</a>.</p>
{% endif %}
{% include 'emails/partials/footer.html' %}
{% endblock %}
