{% block subject %}Password reset instructions{% endblock %}

{% block text_body %}
Hi {{ username|default:"there" }},

We received a request to reset your password.
{% if reset_link %}
To keep your account safe, use the link below to choose a new password:
{{ reset_link }}

{% if expires_in_minutes %}
This secure link expires in {{ expires_in_minutes }} minutes.
{% else %}
This secure link expires soon.
{% endif %}

Need to enter a code manually? Use this one-time token:
{% endif %}
{% if not reset_link %}
Use the token below to set a new password:
{% endif %}
{{ token }}

If you did not request a password reset, you can safely ignore this message.
{% endblock %}

{% block html_body %}
<!DOCTYPE html>
<html>
  <body>
    <p>Hi {{ username|default:"there" }},</p>
    <p>We received a request to reset your password.</p>
    {% if reset_link %}
    <p>
      To keep your account safe, use the link below to choose a new password:<br />
      <a href="{{ reset_link }}">Reset your password</a>
    </p>
    <p>
      {% if expires_in_minutes %}
        This secure link expires in {{ expires_in_minutes }} minutes.
      {% else %}
        This secure link expires soon.
      {% endif %}
    </p>
    <p>Need to enter a code manually? Use this one-time token:</p>
    {% else %}
    <p>Use the token below to set a new password:</p>
    {% endif %}
    <p style="font-size: 20px; font-weight: bold;">{{ token }}</p>
    <p>If you did not request a password reset, you can safely ignore this message.</p>
  </body>
</html>
{% endblock %}
