{% block subject %}Recovery code used to access your account{% endblock %}

{% block text_body %}
Hello {{ full_name|default:email }},

A recovery code was used to access your account.
Date: {{ used_at }}

If this wasn't you, please secure your account immediately:
1) Change your password
2) Review your trusted devices
3) Generate new recovery codes
{% endblock %}

{% block html_body %}
{% include 'emails/partials/header.html' with title="Recovery code used" intro_text="Security alert" email_tag="Security" %}
<p>Hello {{ full_name|default:email }},</p>
<p>A recovery code was used to access your account.</p>
<p><strong>Date:</strong> {{ used_at }}</p>
<p>If this wasn't you, please secure your account immediately:</p>
<ol>
  <li>Change your password</li>
  <li>Review your trusted devices</li>
  <li>Generate new recovery codes</li>
</ol>
{% include 'emails/partials/footer.html' %}
{% endblock %}
