{% block subject %}New trusted device added{% endblock %}

{% block text_body %}
Hello {{ username|default:email }},

A new device was added to your trusted devices list.

Device: {{ device_name }}
IP Address: {{ ip_address }}
Date: {{ created_at }}

If you don't recognize this device, please remove it from your security settings and change your password.
{% endblock %}

{% block html_body %}
{% include 'emails/partials/header.html' with title="New trusted device added" intro_text="Security update" email_tag="Security" %}
<p>Hello {{ username|default:email }},</p>
<p>A new device was added to your trusted devices list.</p>
<ul>
  <li><strong>Device:</strong> {{ device_name }}</li>
  <li><strong>IP Address:</strong> {{ ip_address }}</li>
  <li><strong>Date:</strong> {{ created_at }}</li>
</ul>
<p>If you don't recognize this device, please remove it from your security settings and change your password.</p>
{% include 'emails/partials/footer.html' %}
{% endblock %}
